CONFIG_FIT_ENABLE_SHA384_SUPPORT=y
CONFIG_FIT_ENABLE_SHA512_SUPPORT=y
CONFIG_FIT_SIGNATURE=y
CONFIG_FIT_SIGNATURE_MAX_SIZE=0x10000000
CONFIG_LOGLEVEL=8
CONFIG_SPL_LOGLEVEL=8
CONFIG_TPL_LOGLEVEL=8
CONFIG_CONSOLE_MUX=y
CONFIG_SYS_CONSOLE_IS_IN_ENV=y
CONFIG_UPDATE_COMMON=y
CONFIG_UPDATE_FIT=y
CONFIG_IMAGE_SIGN_INFO=y
CONFIG_CMD_BOOTEFI_HELLO=y
CONFIG_CMD_BOOTEFI_SELFTEST=y
CONFIG_CMD_NVEDIT_EFI=y
CONFIG_CMD_TFTPPUT=y
CONFIG_CMD_TFTPSRV=y
CONFIG_CMD_CDP=y
CONFIG_CMD_SNTP=y
CONFIG_CMD_DNS=y
CONFIG_CMD_LINK_LOCAL=y
CONFIG_CMD_BSP=y
CONFIG_CMD_EFIDEBUG=y
CONFIG_CMD_DATE=y
CONFIG_CMD_RTC=y
CONFIG_CMD_GETTIME=y
CONFIG_CMD_UUID=y
CONFIG_VERSION_VARIABLE=y
CONFIG_PROT_UDP=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_NETCONSOLE=y
CONFIG_DFU=y
CONFIG_DFU_WRITE_ALT=y
CONFIG_MISC=y
CONFIG_DM_RESET=y
CONFIG_RESET_ROCKCHIP=y
CONFIG_DM_RNG=y
CONFIG_RNG_ROCKCHIP=y
CONFIG_DM_RTC=y
CONFIG_SPL_DM_RTC=y
CONFIG_TPL_DM_RTC=y
CONFIG_RTC_ENABLE_32KHZ_OUTPUT=y
CONFIG_RTC_EMULATION=y
CONFIG_DM_VIDEO=y
CONFIG_BACKLIGHT=y
CONFIG_VIDEO_PCI_DEFAULT_FB_SIZE=0
CONFIG_BACKLIGHT_PWM=y
CONFIG_CMD_VIDCONSOLE=y
CONFIG_VIDEO_BPP8=y
CONFIG_VIDEO_BPP16=y
CONFIG_VIDEO_BPP32=y
CONFIG_VIDEO_ANSI=y
CONFIG_CONSOLE_NORMAL=y
CONFIG_PANEL=y
CONFIG_SIMPLE_PANEL=y
CONFIG_I2C_EDID=y
CONFIG_DISPLAY=y
CONFIG_VIDEO_ROCKCHIP=y
CONFIG_VIDEO_ROCKCHIP_MAX_XRES=1920
CONFIG_VIDEO_ROCKCHIP_MAX_YRES=1080
CONFIG_CONSOLE_SCROLL_LINES=1
CONFIG_AES=y
CONFIG_RSA=y
CONFIG_RSA_VERIFY=y
CONFIG_RSA_VERIFY_WITH_PKEY=y
CONFIG_RSA_SOFTWARE_EXP=y
CONFIG_ASYMMETRIC_KEY_TYPE=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_RSA_PUBLIC_KEY_PARSER=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_PKCS7_VERIFY=y
CONFIG_SHA512_ALGO=y
CONFIG_SHA512=y
CONFIG_SHA384=y
CONFIG_SPL_MD5=y
CONFIG_ASN1_COMPILER=y
CONFIG_ASN1_DECODER=y
CONFIG_OID_REGISTRY=y
CONFIG_EFI_GET_TIME=y
CONFIG_EFI_SET_TIME=y
CONFIG_EFI_HAVE_CAPSULE_SUPPORT=y
CONFIG_EFI_RUNTIME_UPDATE_CAPSULE=y
CONFIG_EFI_CAPSULE_ON_DISK=y
CONFIG_EFI_CAPSULE_FIRMWARE=y
CONFIG_EFI_CAPSULE_FIRMWARE_MANAGEMENT=y
CONFIG_EFI_CAPSULE_AUTHENTICATE=y
CONFIG_EFI_CAPSULE_FIRMWARE_FIT=y
CONFIG_EFI_CAPSULE_FIRMWARE_RAW=y
CONFIG_EFI_RNG_PROTOCOL=y
CONFIG_EFI_SECURE_BOOT=y
CONFIG_EFI_ESRT=y
CONFIG_LIB_DATE=y
