CONFIG_BOOTDELAY=5
CONFIG_SD_BOOT=y
CONFIG_FIT_SIGNATURE=y
CONFIG_FIT_ENABLE_SHA384_SUPPORT=y
CONFIG_FIT_ENABLE_SHA512_SUPPORT=y
CONFIG_LEGACY_IMAGE_FORMAT=y
CONFIG_SHA512_ALGO=y
CONFIG_CMD_DFU=y
CONFIG_UPDATE_FIT=y
CONFIG_LOGLEVEL=6
CONFIG_CMD_BOOTEFI_HELLO=y
CONFIG_CMD_BOOTEFI_SELFTEST=y
CONFIG_BOOTP_NTPSERVER=y
CONFIG_CMD_CDP=y
CONFIG_CMD_SNTP=y
CONFIG_CMD_DNS=y
CONFIG_CMD_LINK_LOCAL=y
CONFIG_CMD_ETHSW=y
CONFIG_CMD_EFIDEBUG=y
CONFIG_CMD_DATE=y
CONFIG_DM_RTC=y
CONFIG_CMD_RTC=y
CONFIG_CMD_GETTIME=y
CONFIG_CMD_UUID=y
CONFIG_VERSION_VARIABLE=y
CONFIG_NETCONSOLE=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_DFU_TFTP=y
CONFIG_DFU_TIMEOUT=y
CONFIG_DFU_MMC=y
CONFIG_DFU_RAM=y
CONFIG_SET_DFU_ALT_INFO=y
CONFIG_PHY_REALTEK=y
CONFIG_RTL8211F_PHY_FORCE_EEE_RXC_ON=y
CONFIG_RTL8201F_PHY_S700_RMII_TIMINGS=y
CONFIG_DM_ETH_PHY=y
CONFIG_DM_RESET=y
CONFIG_DM_RNG=y
CONFIG_RNG_ROCKCHIP=y
CONFIG_SPL_DM_RTC=y
CONFIG_TPL_DM_RTC=y
CONFIG_RTC_ENABLE_32KHZ_OUTPUT=y
CONFIG_RTC_EMULATION=y
CONFIG_EFI_LOADER=y
CONFIG_EFI_CAPSULE_FIRMWARE=y
CONFIG_EFI_CAPSULE_FIRMWARE_FIT=y
CONFIG_EFI_SET_TIME=y
CONFIG_EFI_HAVE_CAPSULE_SUPPORT=y
CONFIG_EFI_RUNTIME_UPDATE_CAPSULE=y
CONFIG_EFI_CAPSULE_ON_DISK=y
CONFIG_EFI_CAPSULE_FIRMWARE_MANAGEMENT=y
CONFIG_EFI_CAPSULE_FIRMWARE_RAW=y
CONFIG_AES=y
CONFIG_CMD_ASKENV=y
CONFIG_CMD_GREPENV=y
CONFIG_CMD_ERASEENV=y
CONFIG_CMD_ENV_CALLBACK=y
CONFIG_CMD_ENV_FLAGS=y
CONFIG_CMD_NVEDIT_EFI=y
CONFIG_CMD_NVEDIT_INFO=y
CONFIG_CMD_NVEDIT_LOAD=y
CONFIG_CMD_NVEDIT_SELECT=y

CONFIG_BOOTP_PXE=n
CONFIG_CMD_BLOCK_CACHE=n
CONFIG_RSA_VERIFY_WITH_PKEY=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_GENERATE_SMBIOS_TABLE=n
CONFIG_HEXDUMP=n
CONFIG_CC_HAS_ASM_INLINE=n
CONFIG_EFI_CAPSULE_ON_DISK_EARLY=n
CONFIG_IDENT_STRING="TEST-DEFAULT"


