CONFIG_FIT_SIGNATURE=y
CONFIG_FIT_SIGNATURE_MAX_SIZE=0x10000000
# CONFIG_FIT_ENABLE_RSASSA_PSS_SUPPORT is not set
CONFIG_UPDATE_COMMON=y
CONFIG_UPDATE_FIT=y
CONFIG_IMAGE_SIGN_INFO=y
CONFIG_CMD_BOOTEFI_HELLO=y
CONFIG_CMD_BOOTEFI_SELFTEST=y
CONFIG_CMD_NVEDIT_EFI=y
CONFIG_CMD_DFU=y
CONFIG_CMD_EFIDEBUG=y
CONFIG_CMD_DATE=y
CONFIG_CMD_RTC=y
CONFIG_CMD_GETTIME=y
CONFIG_ENV_VARS_UBOOT_RUNTIME_CONFIG=y
CONFIG_VERSION_VARIABLE=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_DFU=y
CONFIG_DFU_WRITE_ALT=y
# CONFIG_DFU_SF is not set
# CONFIG_DFU_VIRT is not set
CONFIG_SET_DFU_ALT_INFO=y
CONFIG_DM_RTC=y
# CONFIG_RTC_PCF2127 is not set
# CONFIG_RTC_DS1307 is not set
# CONFIG_RTC_DS3232 is not set
CONFIG_RTC_EMULATION=y
# CONFIG_RTC_ISL1208 is not set
# CONFIG_RTC_RV3028 is not set
# CONFIG_RTC_RV3029 is not set
# CONFIG_RTC_RV8803 is not set
# CONFIG_RTC_RX8010SJ is not set
# CONFIG_RTC_MV is not set
# CONFIG_RTC_STM32 is not set
# CONFIG_RTC_ABX80X is not set
CONFIG_AES=y
CONFIG_RSA=y
# CONFIG_SPL_RSA is not set
CONFIG_RSA_VERIFY=y
CONFIG_RSA_VERIFY_WITH_PKEY=y
CONFIG_RSA_SOFTWARE_EXP=y
CONFIG_ASYMMETRIC_KEY_TYPE=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_RSA_PUBLIC_KEY_PARSER=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_PKCS7_VERIFY=y
CONFIG_ASN1_DECODER=y
CONFIG_OID_REGISTRY=y
CONFIG_EFI_GET_TIME=y
CONFIG_EFI_SET_TIME=y
CONFIG_EFI_HAVE_CAPSULE_SUPPORT=y
CONFIG_EFI_RUNTIME_UPDATE_CAPSULE=y
CONFIG_EFI_CAPSULE_ON_DISK=y
CONFIG_EFI_CAPSULE_FIRMWARE=y
CONFIG_EFI_CAPSULE_FIRMWARE_MANAGEMENT=y
CONFIG_EFI_CAPSULE_FIRMWARE_FIT=y
CONFIG_EFI_SECURE_BOOT=y
CONFIG_EFI_ESRT=y
CONFIG_LIB_DATE=y

CONFIG_DFU_TFTP=y
CONFIG_DFU_TIMEOUT=y
CONFIG_DFU_MMC=y
CONFIG_DFU_RAM=y
CONFIG_IDENT_STRING="DFU-TST1"

CONFIG_EFI_CAPSULE_ON_DISK_EARLY=n
